name: Docker Build and Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

  versioning:
    runs-on: ubuntu-latest
    needs: build

    outputs:
      NEW_TAG: ${{ steps.increment_version.outputs.NEW_TAG }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get the current tag on main
        id: get_tag
        continue-on-error: true
        run: |
          git fetch --tags
          CURRENT_TAG=$(git describe --tags $(git rev-list --tags --max-count=1) 2>/dev/null || echo "v0.0.0")
          echo "Current tag: $CURRENT_TAG"
          echo "CURRENT_TAG=$CURRENT_TAG" >> $GITHUB_ENV

      - name: Get the last commit message
        id: get_last_commit_message
        run: |
          LAST_COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          echo "Last commit message: $LAST_COMMIT_MESSAGE"
          if echo "$LAST_COMMIT_MESSAGE" | grep -q "Merge pull request"; then
            # Get the commit message from the PR
            PR_COMMIT_MESSAGE=$(git log -2 --pretty=%B | tail -n 1)
            echo "PR commit message: $PR_COMMIT_MESSAGE"
            echo "PR_COMMIT_MESSAGE=$PR_COMMIT_MESSAGE" >> $GITHUB_ENV
            echo "Using PR commit message: $PR_COMMIT_MESSAGE"
          else
            echo "LAST_COMMIT_MESSAGE=$LAST_COMMIT_MESSAGE" >> $GITHUB_ENV
            echo "Using last commit message: $LAST_COMMIT_MESSAGE"
          fi

      - name: Increment version
        id: increment_version
        run: |
          echo "Current tag: ${{ env.CURRENT_TAG }}"
          echo "Commit message used for versioning: ${{ env.PR_COMMIT_MESSAGE || env.LAST_COMMIT_MESSAGE }}"

          TAG=${{ env.CURRENT_TAG }}
          VERSION=$(echo $TAG | sed 's/^v//')
          IFS='.' read -r -a VERSION_PARTS <<< "$VERSION"
          MAJOR=${VERSION_PARTS[0]}
          MINOR=${VERSION_PARTS[1]}
          PATCH=${VERSION_PARTS[2]}

          echo "Current version - Major: $MAJOR, Minor: $MINOR, Patch: $PATCH"

          # Use PR_COMMIT_MESSAGE if set, otherwise use LAST_COMMIT_MESSAGE
          COMMIT_MESSAGE=${{ env.PR_COMMIT_MESSAGE || env.LAST_COMMIT_MESSAGE }}
          echo "Commit message: $COMMIT_MESSAGE"

          COMMIT_MESSAGE_PREFIX=$(echo "$COMMIT_MESSAGE" | cut -d ':' -f 1 | awk '{$1=$1};1' | tr '[:upper:]' '[:lower:]')
          echo "Commit message prefix: $COMMIT_MESSAGE_PREFIX"

          if echo "$COMMIT_MESSAGE_PREFIX" | grep -qE "^(breaking)"; then
            MAJOR=$((MAJOR + 1))
            MINOR=0
            PATCH=0
          elif echo "$COMMIT_MESSAGE_PREFIX" | grep -qE "^(feature)"; then
            MINOR=$((MINOR + 1))
            PATCH=0
          elif echo "$COMMIT_MESSAGE_PREFIX" | grep -qE "^(fix)"; then
            PATCH=$((PATCH + 1))
          elif echo "$COMMIT_MESSAGE_PREFIX" | grep -qE "^(other)"; then
            # No version increment for 'Other'
            NEW_TAG=$TAG
            echo "No version increment for 'Other' commits"
          else
            echo "Unrecognized commit message prefix. No version increment."
            NEW_TAG=$TAG
          fi

          if [ -z "$NEW_TAG" ]; then
            NEW_TAG="v$MAJOR.$MINOR.$PATCH"
          fi

          echo "New tag: $NEW_TAG"
          echo "::set-output name=NEW_TAG::$NEW_TAG"

      - name: Create new tag
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git tag ${{ steps.increment_version.outputs.NEW_TAG }}
          git push https://${GH_TOKEN}@github.com/${{ github.repository }} ${{ steps.increment_version.outputs.NEW_TAG }}

  docker_build_and_publish:
    runs-on: ubuntu-latest
    needs: versioning

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          VERSION=${{ needs.versioning.outputs.NEW_TAG }}
          REPO_NAME=$(basename ${{ github.repository }})
          DOCKER_IMAGE=${{ secrets.DOCKER_USERNAME }}/${REPO_NAME}

          docker build -t ${DOCKER_IMAGE}:latest -t ${DOCKER_IMAGE}:${VERSION} .
          docker push ${DOCKER_IMAGE}:latest
          docker push ${DOCKER_IMAGE}:${VERSION}